/* line 6, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 28, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
body {
  background: #FAFAFA;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC");
}

/* line 33, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile,
#experiences,
#skills,
#projects {
  height: 100%;
}
/* line 38, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile > div,
#experiences > div,
#skills > div,
#projects > div {
  height: 100%;
}
/* line 41, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile > :first-child,
#experiences > :first-child,
#skills > :first-child,
#projects > :first-child {
  float: left;
}
/* line 44, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile > :last-child,
#experiences > :last-child,
#skills > :last-child,
#projects > :last-child {
  float: right;
}

/* line 49, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.bg {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 53, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile-bg,
#experiences-bg,
#skills-bg,
#projects-bg {
  width: 100%;
  max-width: 54%;
  background-attachment: fixed !important;
  background-size: 54% auto !important;
  position: relative;
}
/* line 63, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile-bg .title,
#experiences-bg .title,
#skills-bg .title,
#projects-bg .title {
  position: absolute;
  margin: auto;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 80%;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* line 81, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile-details,
#experiences-details,
#skills-details,
#projects-details {
  width: 100%;
  max-width: 46%;
  padding-top: 1rem;
}

/* line 91, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile-details,
#skills-details {
  border-left: 1px rgba(0, 0, 0, 0.2) solid;
}

/* line 100, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile-details {
  background-color: #f3efe0;
}

/* line 104, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.overlay {
  background-color: beige;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.76;
  z-index: 2;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkQAWSjEh8SSD7OUwAzAFJggTgHJAAAEkuAx5OdRJCAAAAAElFTkSuQmCC");
}

/* line 116, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#profile-image {
  border-radius: 50%;
  width: 100%;
  border: 1px rgba(190, 190, 190, 0.6) solid;
  box-shadow: 0 0 0 10px rgba(242, 247, 243, 0.4);
  max-width: 250px;
}

/* line 124, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.significant {
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 129, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.shadow-inset {
  -webkit-box-shadow: inset 0 0 70px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 70px 30px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 70px 30px rgba(0, 0, 0, 0.5);
}

/* line 135, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#contact {
  left: 50%;
  position: fixed;
  width: 8%;
  height: 100%;
  z-index: 10;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  text-align: center;
  padding-top: 70px;
}

/* line 152, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.contact-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(242, 247, 243, 0.78);
  margin: auto;
  border: 1px rgba(190, 190, 190, 0.6) solid;
  box-shadow: 0 0 0 10px rgba(242, 247, 243, 0.4);
  margin-bottom: 38px;
  position: relative;
}
/* line 162, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.contact-button a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -46%);
  transform: translate(-50%, -46%);
  margin: 0;
  padding: 0;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  /* line 4, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  html {
    font-size: 112%;
  }

  /* line 6, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* line 12, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  .column.full {
    width: 100%;
  }

  /* line 13, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  .column.two-thirds {
    width: 66.7%;
  }

  /* line 14, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  .column.half {
    width: 50%;
  }

  /* line 15, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  .column.third {
    width: 33.3%;
  }

  /* line 16, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  .column.fourth {
    width: 25%;
  }

  /* line 17, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  .column.flow-opposite {
    float: right;
  }
}
/* Large screens (1024px) */
@media (min-width: 64rem) {
  /* line 22, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
  html {
    font-size: 120%;
  }
}
/* line 25, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

/* line 31, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/grid.scss */
.row {
  margin-bottom: 10px;
}

@media (min-width: 64rem) {
  /* line 176, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
  #profile-bg {
    background: url("profile-bg.jpg") no-repeat;
  }

  /* line 180, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
  #experiences-bg {
    background: url("experiences-bg.jpg") no-repeat;
    background-position: right center;
  }

  /* line 185, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
  #skills-bg {
    background: url("skills-bg.jpg") no-repeat;
    background-position: 0% 76%;
  }

  /* line 190, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
  #projects-bg {
    background: url("projects-bg.jpg") no-repeat;
    background-position: right center;
  }
}
/* line 197, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#main-footer {
  height: 150px;
  background-color: #434242;
}

/* line 202, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.thin {
  font-weight: 300;
}

/* line 207, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
nav ul {
  list-style: none;
}

/* line 212, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
a {
  text-decoration: none;
}

/* line 216, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
p {
  line-height: 1.5rem;
}

/* line 220, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#main-nav {
  font-size: .8rem;
}
/* line 222, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#main-nav ul {
  padding: 0;
  background-color: rgba(242, 247, 243, 0.78);
  border: 1px rgba(190, 190, 190, 0.6) solid;
  box-shadow: 0 0 0 10px rgba(242, 247, 243, 0.4);
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 230, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#main-nav ul a {
  color: rgba(0, 0, 0, 0.68);
}
/* line 233, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
#main-nav ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 241, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
ul.description li {
  margin-bottom: .7rem;
}

/* line 246, /Users/jmmaniego/Desktop/exercise/myfirstapp/app/assets/stylesheets/resume.scss */
.position {
  font-size: 1.3rem;
  opacity: .7;
}
